



title {
    font-size: xx-large;
    font-style: initial;
    padding: 5px;
    margin: 15px;
}

h1 {
    padding: 5px;
    margin: 10px;
    font-size: large;
    font: black;
    font-weight: 20px;
    font-family: 'Times New Roman', Times, serif;
}
li {
    padding: 15px;
    margin: 10px;
    font-size: large;
    outline: 1px black solid;
}

h2 {
    padding: 5px;
    margin: 10px;
    font-size: large;
    font: black;
    font-weight: 20px;
    font-family: 'Times New Roman', Times, serif;
}

p1 {
    font-size: xx-large;
    font-family: 'Times New Roman', Times, serif;
    color: blue;
    float: inherit;
    padding-bottom: 5px;
    margin-right: 10px;
    margin-left: 10px;
    padding-top: 5px;
}

p2 { font-size: xx-large;
    font-family: 'Times New Roman', Times, serif;
    color: red;
    float: left;
    padding-bottom: 5px;
    margin-right: 10px;
    margin-left: 10px;
    padding-top: 5px;
}

footer {
    font-size: x-large;
    color: black
    border-bottom: 10px;
}
 #First-Picture {
    float: left;
    width: 150px;
    height: 100px; 
}

#second-picture {
    float: right;
    width: 150px;
    height: 100px;
}

