
title {
    font-size: x-large;
    font-style: initial;
    padding: 5px;
    margin: 15px;
}

h1 {
    padding: 5px;
    margin: 5px;
    font-size: large;
    font: black;
    font-weight: 20px;
    font-family: 'Times New Roman', Times, serif;
}
 
body {
    background-image: url(https://cdn.britannica.com/76/4476-050-E643DD49/Betsy-Ross-legend-flag.jpg);
     background-size: 20px;
     background-image: none;
     opacity: 1;
     transform: rotate;
 }
   
li {
    padding: 0px;
    margin: 5px;
    font-size: large;
    outline-width: 2px;
}

h2 {
    padding: 5px;
    margin: 10px;
    font-size: large;
    font: black;
    font-weight: 20px;
    font-family: 'Times New Roman', Times, serif;
}

p1 {
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    color: black
    padding-bottom: 40px;
    margin-right: 10px;
    margin-left: 100px;
    padding-top: 5px;
}

p2 { font-size: large;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    float: left;
    padding-bottom: 5px;
    margin-right: 10px;
    margin-left: 10px;
    padding-top: 40px;
}

footer {
    font-size: small;
    color: black;
    float: inherit;
}

.Content {
    background-color: blue;
}



